@page "{id}"
@model Cranelift.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "User details";
}

<h2>Profile: </h2>

<form asp-page="." method="post">
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.Name" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Company</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.CompanyName" />
        </div>
    </div>
    <div class="row mb-2 mb-2">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.Email" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Phone Number</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.PhoneNo" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Balance</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.Balance.ToString("N0")" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Money Spent</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.MoneySpent.ToString("N0")" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Number of pages scanned</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.CountPages.ToString("N0")" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Number of successful jobs submitted</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.CountJobs.ToString("N0")" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-4 col-form-label">Money Spent</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" value="@Model.Data.MoneySpent.ToString("N0")" />
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="Verified" class="col-sm-4 col-form-label">Is Verified</label>
        <div class="col-sm-6">
            <input asp-for="Verified" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">
        <label asp-for="CanUseAPI" class="col-sm-4 col-form-label">Can use API</label>
        <div class="col-sm-6">
            <input asp-for="CanUseAPI" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">
        <label asp-for="APIKey" class="col-sm-4 col-form-label">API Key</label>
        <div class="col-sm-6">
            <input asp-for="APIKey" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">
        <label asp-for="MonthlyRecharge" class="col-sm-4 col-form-label">Monthly Recharge</label>
        <div class="col-sm-6">
            <input asp-for="MonthlyRecharge" class="form-control" />
        </div>
    </div>

    <input asp-for="Id" type="hidden" />

    <button type="submit" asp-page-handler="User" class="btn btn-primary">Update User Info</button>
</form>

<hr class="mb-3" />
<h2>Recharge</h2>

@if (string.IsNullOrEmpty(Model.Message) == false)
{
    <div class="alert alert-@(Model.Success ? "success" : "danger")" role="alert">
        @Model.Message
    </div>
}

<form asp-page="." method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount: </label>
        <input asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PageCount">Page Count: </label>
        <input asp-for="PageCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserNote">User Note: </label>
        <input asp-for="UserNote" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TransactionId">Transaction Id (FastPay/AsiaHawalla): </label>
        <input asp-for="TransactionId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AdminNote">Admin Note: </label>
        <input asp-for="AdminNote" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentMedium">Payment medium: </label>

        <select class="form-control" asp-for="PaymentMedium">
            <option value="1" selected>Zhir</option>
            <option value="2">FastPay</option>
            <option value="3">AsiaHawala</option>
            <option value="4">ZainCash</option>
            <option value="5">ZhirBalance</option>
        </select>
    </div>

    <input asp-for="Id" type="hidden" />

    <button type="submit" class="btn btn-primary" asp-page-handler="Recharge">Recharge</button>
</form>

<hr class="mb-3" />
<h2>Transactions: </h2>

<table id="transactions-table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Page Count</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Transaction Id</th>
            <th scope="col">Type</th>
            <th scope="col">User Note</th>
            <th scope="col">Admin Note</th>
            <th scope="col">Date</th>
            <th scope="col">Confirmed</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Transactions.Count; i++)
        {
            var transaction = Model.Transactions[i];

            <tr style="@(transaction.Confirmed != true ? "color: red;" : "")">
                <th scope="row">@(i + 1)</th>
                <td>@((transaction.Amount ?? 0).ToString("N0"))</td>
                <td>@transaction.PageCount.ToString("N0")</td>
                <td>@transaction.PaymentMedium</td>
                <td>@transaction.TransactionId</td>
                <td>@transaction.Type</td>
                <td>@transaction.UserNote</td>
                <td>@transaction.AdminNote</td>
                <td>@transaction.Date.ToString("yyyy-MM-dd hh:mm tt UTCzz")</td>
                <td>@(transaction.Confirmed == true ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#transactions-table').DataTable();
    });
</script>
}